.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(227, 227, 227);
    z-index: 100;
    width: 100vw;
    padding: .5rem;
}