.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(227, 227, 227);
    // make sure this stays on top of everything
    z-index: 150;
    width: 100vw;
    padding: .5rem 1.5rem;
}