.product__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 12rem;
    min-height: 10rem;
    background-color: rgb(244, 244, 244);
    color: rgb(18, 18, 18);
    border-radius: .1rem;
    padding: 1.2rem 1.7rem;
    transition: background-color .5s;
    list-style-type: none;

    // &:hover {
    //     cursor: pointer;
    //     background-color: rgb(252, 252, 252);
    //     background-color: rgb(184, 184, 184, .6);
    //     color: rgb(32, 32, 32);
    // }

    &__price {
        align-self: end;
        font-weight: bold;
    }

    &__discounted {
        text-decoration: line-through;
    }

    &__description {
        text-align: center;
    }

    &__rating {
        align-self: center;
    }

    &__add__to__cart__btn:hover {
        cursor: pointer;
    }
}