@import url('../../../../App.module.scss');

.product__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 12rem;
    // height: fit-content;
    // min-height: 8rem;
    outline: 1px solid rgb(212, 212, 212);
    color: rgb(18, 18, 18);
    border-radius: .1rem;
    padding: .8rem 1rem;
    transition: background-color .5s;
    list-style-type: none;
    // careful with this position; caused sort component to go below the item card
    position: relative;

    &__image {
        max-height: 170px;
        object-fit: contain;
    }

    &__price {
        align-self: end;
        font-weight: bold;
    }

    &__discounted {
        text-decoration: line-through;
        color: grey;
    }

    &__name {
        font-size: .9rem;
        text-align: center;
        font-weight: 500;
        padding: .3rem;
    }

    &__description {
        text-align: center;
        font-size: .7rem;
    }

    &__rating {
        align-self: center;
        padding: .5rem;
    }

    &__add__to__cart__btn {
        border: none;
        background-color: white;
        cursor: pointer;
        padding: .4rem .9rem;
        width: 150px;
        outline: 1px solid rgba(66, 66, 66, 0.2);
        font-size: .9rem;
        text-align: center;
        transition: var(--hover--transition);

        &:disabled {
            outline: 1px solid rgba(66, 66, 66, 0.2);
            background-color: rgb(234, 234, 234);
            cursor: default;
        }

        &:hover:not(:disabled) {
            background-color: var(--hover--bg--color);
            color: var(--hover--color);
            transition: var(--hover--transition);
        }
    }

    &__item__added__modal__container {
        position: absolute;
        left: 50px;
        top: 150px;
        z-index: 20;
    }
}