@import url('../../../../App.module.scss');

.filter__element__container {

    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__heading {
        font-size: 2.5rem;
        font-weight: 300;
        color: rgb(20, 20, 20);
        text-transform: capitalize;

        // &::after {
        //     content: '_';
        //     color: black;
        //     width: 100px;
        // }
    }

    &__clear__filters__btn {
        all: unset;
        cursor: pointer;
        text-align: center;
        padding: .6rem 1.2rem;
        outline: 1px solid rgba(66, 66, 66, 0.2);
        font-size: .9rem;
        transition: var(--hover--transition);

        &:hover {
            background-color: var(--hover--bg--color);
            color: var(--hover--color);
            transition: var(--hover--transition);
        }
    }
}

.filter__group__container {
    // TODO: consider testing this property
    // max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filter__group__container__label {
    font-size: .9rem;
    font-weight: 300;
    color: rgb(24, 23, 23);
}

.filter__group__options__container {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    max-width: 200px;

    &__option {
        all: unset;
        padding: .4rem .9rem;
        outline: 1px solid rgba(66, 66, 66, 0.2);
        font-size: .9rem;
        cursor: pointer;
        transition: var(--hover--transition);

        &:hover {
            background-color: var(--hover--bg--color);
            color: var(--hover--color);
            transition: var(--hover--transition);
        }

        &__selected {
            background-color: var(--hover--bg--color);
            color: var(--hover--color);
        }
    }
}