.filter__group__container {
    // TODO: consider testing this property
    max-width: 200px;
}

.filter__group__container__label {
    font-size: 1.2rem;
    font-weight: 300;
    margin-left: 1rem;
}

.filter__group__options__container {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    max-width: 200px;

    &__option {
        all: unset;
        padding: .2rem .5rem;
        outline: 1px solid rgba(66, 66, 66, 0.2);
        font-size: .9rem;
        cursor: pointer;

        &:hover {
            background-color: rgb(204, 204, 204);
        }

        &__selected {
            background-color: rgb(198, 198, 198);

            &:hover {
                background-color: none;
            }
        }
    }
}