.product__page__wrapper {
    // this margin-top offsets Header height;
    margin-top: 3rem;

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto 1fr auto;
    gap: 1rem;
}

.product__page__filter__container {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.product__page__category__description__container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
}

.product__page__sort__container {
    align-self: end;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.product__page__product__counter__container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: end;
    align-self: center;
}

.product__page__product__container {
    grid-column: 2 / 4;
    grid-row: 3 / 4;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.product__page__load__more__btn {
    grid-column: 2 / span 2;
    grid-row: 4 / 5;
    justify-self: center;
}